<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <br/>

  <h3>Recipent Lists</h3>
  <% RecipientList.where(user: @message.user).each do |rl| %>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="check_<%= rl.id %>" <%= 'checked' if @message.recipient_list_active?(rl.id) %> >
      <label class="form-check-label" for="check_<%= rl.id %>">
        <%= rl.name %>
      </label>
    </div>
  <% end %>
  <br/>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
