<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @message.status %>
</p>

<p>
  <strong>Sent at:</strong>
  <%= @message.sent_at %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
