<% if @message %>
  <p>
    <strong>Content:</strong>
    <%= @message.content %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @message.status || 'Unsent' %>
  </p>

  <p>
    <strong>Sent at:</strong>
    <%= @message.sent_at %>
  </p>

  <% unless @message.sent? %>
    <%= form_with(url: "#{@message.id}/send_message", method: 'post', local: true) do |form| %>
      <div class="actions">
        <%= form.submit 'Send', class: 'btn btn-primary' %>
      </div>
    <% end %>
    <%= link_to 'Edit', edit_message_path(@message), class: 'btn btn-primary' %>
  <% end %>

  <%= link_to @message.sent? ? 'Back' : 'Cancel', messages_path, class: 'btn btn-secondary' %>
  <br/>

  <h3>Recipent Lists</h3>
  <% RecipientList.where(user: @message.user).each do |rl| %>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="check_<%= rl.id %>" disabled <%= 'checked' if @message.recipient_list_active?(rl.id) %> >
      <label class="form-check-label" for="check_<%= rl.id %>">
        <%= rl.name %>
      </label>
    </div>
  <% end %>
  <br/>

  <% if @message.sent? %>
    <h3>Recipents</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Phone</th>
          <th>Status</th>
          <th>Email</th>
          <th>Name</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @message.message_recipients.each do |mr| %>
          <tr>
            <td><%= link_to mr.recipient.phone, mr.recipient %></td>
            <td><%= mr.status %></td>
            <td><%= mr.recipient.email %></td>
            <td><%= mr.recipient.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% else %>
  <strong>Message not found</strong>
<% end %>
