<%= form_with(model: recipient, local: true) do |form| %>
  <% if recipient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipient.errors.count, "error") %> prohibited this recipient from being saved:</h2>

      <ul>
        <% recipient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group row">
    <%= form.label :phone, class: 'col-sm-2 col-form-label' %>
    <%= form.text_field :phone, class: 'col-sm-10' %>
  </div>

  <div class="field form-group row">
    <%= form.label :email, class: 'col-sm-2 col-form-label' %>
    <%= form.text_field :email, class: 'col-sm-10' %>
  </div>

  <div class="field form-group row">
    <%= form.label :name, class: 'col-sm-2 col-form-label' %>
    <%= form.text_field :name, class: 'col-sm-10' %>
  </div>

  <div class="field form-group row">
    <%= form.label :notes, class: 'col-sm-2 col-form-label' %>
    <%= form.text_field :notes, class: 'col-sm-10' %>
  </div>

  <div class="field form-check">
    <%= form.check_box :active, class: 'col-sm-10 form-check-input' %>
    <%= form.label :active, class: 'col-sm-2 col-form-label form-check-label' %>
  </div>

  <h3>Recipent Lists</h3>
  <!-- we may want to do this more manually to accommodate styling -->
  <%= form.collection_check_boxes :recipient_list_ids, current_user.recipient_lists, :id, :name, {}, class: 'col-sm-10 form-check-input'  %>
  <br/>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
