<h1>Recipients</h1>

<%= link_to 'New Recipient', new_recipient_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Phone</th>
      <th>Email</th>
      <th>Name</th>
      <th>Notes</th>
      <th>Active</th>
      <th/>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipients.each do |recipient| %>
      <tr>
        <td><%= link_to recipient.phone, recipient %></td>
        <td><%= recipient.email %></td>
        <td><%= recipient.name %></td>
        <td><%= recipient.notes %></td>
        <td><%= recipient.active ? 'Yes' : 'No' %></td>
        <td><%= link_to 'Delete', recipient, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
