<%= form_with(model: incoming_sm, local: true) do |form| %>
  <% if incoming_sm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(incoming_sm.errors.count, "error") %> prohibited this incoming_sm from being saved:</h2>

      <ul>
        <% incoming_sm.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :request_type %>
    <%= form.text_field :request_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
