<p id="notice"><%= notice %></p>

<p>
  <strong>Phone:</strong>
  <%= @incoming_sm.phone %>
</p>

<p>
  <strong>Content:</strong>
  <%= @incoming_sm.content %>
</p>

<p>
  <strong>Request type:</strong>
  <%= @incoming_sm.request_type %>
</p>

<%= link_to 'Edit', edit_incoming_sm_path(@incoming_sm) %> |
<%= link_to 'Back', incoming_sms_path %>
