<!DOCTYPE html>
<html>
  <head>
    <title>TwilioBroadcast</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="container-fluid">
        <li class="btn menu-btn">
          <%= link_to 'Messages', messages_path, id: 'messages-btn' %>
        </li>
        <li class="btn menu-btn">
          <%= link_to 'Recipients', recipients_path, id: 'recipients-btn' %>
        </li>
        <li class="btn menu-btn">
          <%= link_to 'Recipient Lists', recipient_lists_path, id: 'recipient-lists-btn' %>
        </li>
        <% if user_signed_in? %>
          <li class="btn logout-btn-wrapper">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, id: 'logout-btn' %>
          </li>
        <% end %>
      </div>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
